{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="{% static "communitree_app/style.css" %}" />
    <link rel="stylesheet" href="{% static "communitree_app/CropDisplayControl.css" %}" />

</head>
<body>
<div id="map"></div>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{% static "communitree_app/CropDisplayControl.js" %}" ></script>
<script type="text/javascript">
    var map = L.map('map').setView([42.407956, -71.238515], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'trianos.cigr0cuxo01y8thknjt8q30xd',
        accessToken: 'pk.eyJ1IjoidHJpYW5vcyIsImEiOiJjaWdyMGN3M3EwMXdyc3hrbjI4MHU5d21pIn0.uFMuGs921SdH6mzg6BtN1w'
    }).addTo(map);

    //var marker = L.marker([42.407956, -71.238515]).addTo(map);
    //marker.bindPopup("<b>HelloWorld</b><br/>Spleen.").openPopup()

    //var circle = L.circle([42.407956, -71.238515], 500, {color: 'red', fillColor: '#f03', fillOpacity :0.5}).addTo(map);

        //.setLatLng([42.410315, -71.234377])
        //.setContent("Papa Ginos")
        //.openOn(map);

    function onMapClick(e) {
      //alert("You clicked the map at " + e.latlng);
      var popup = L.popup();
      popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
    }
    map.on('click', onMapClick);

    //Testing getting some things from the database...
    req = new XMLHttpRequest();
    req.open('GET', "{% url "communitree_app:querydb" %}", false);
    req.send();
    var res;
    if (req.readyState === XMLHttpRequest.DONE) {
        if (req.status === 200) {
            console.log(req.responseText);
            res = JSON.parse(req.responseText);
            console.log("printy res");
            console.log(res);
            console.log("ser ytnirp");
            console.log(res.cropfeature);
            console.log("pirnyt rse");
        } else {alert("Oh no." + req.status )}
    } else { alert("Oh darn. " + req.readyState) }

    jcf = JSON.parse(res.cropfeature)
    console.log(jcf);
    L.geoJson(jcf).addTo(map);

    map.addControl(new CropDisplayControl());

</script>
</body>
</html>